body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width for vertical scrollbar */
  height: 8px; /* Adjust the height for horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light background for the track */
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #90caf9; /* Color for the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* Adds space around the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42a5f5; /* Darker color on hover */
}

.frosted:before {
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.frosted {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
